.Table {
  width: 100%;
  margin-top: 15px;
}
.headerRow {
  border-bottom: 1px solid lightgrey;
  font-size: 1rem;
}
.evenRow,
.oddRow {
  border-bottom: 1px solid lightgrey;
  font-size: 0.9rem;
}
.oddRow {
  background-color: #fafafa;
}
.foundAndSelectedEvent {
  background-color: #ebeae6;
}
.foundEvent {
  background-color: PapayaWhip;
}
.passedEvent {
  background-color: rgb(255, 150,150);
}
.selectedRow {
  background-color: #CEE2FF;
}
.lastSelectedRow {
  border: 1px solid #334294;
}
.hoverRow {
  box-shadow: inset 0 -1px 0 0 grey;
}
.headerColumn {
  text-transform: none;
}
.exampleColumn {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.checkboxLabel {
  margin-left: .5rem;
}
.checkboxLabel:first-of-type {
  margin-left: 0;
}

.noRows {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  color: #bdbdbd;
}

.navigationToolbar {
  bottom: 20px !important;
  right: 460px;
  position: fixed !important;
  padding: 10px !important;
  background-color: rgba(255,255,255,0.8) !important;
  z-index: 1000 !important;
}

.ReactVirtualized__Grid, .ReactVirtualized__Masonry, .ReactVirtualized__Table__headerColumn, .ReactVirtualized__Table__row {
  outline: none;
}
